.playercard {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 350px;
  box-shadow: 0px 0px 30px rgb(182, 180, 179) inset;
  border-radius: 15px;
  margin: 5px 0px;
  background-color: rgba(75, 34, 7, 0.904);
}
.playercard-div-img, .playercard-div-title, .playercard-div-info {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.playercard-div-info, .playercard-div-title {
  display: block;
  width: 100%;
}
.playercard-img {
  height: 200px;
  width: 100%;
  display: flex;
  max-height: 200px;
  object-fit: cover;
  padding: 10px;
}

playercard h3,playercard h4,playercard h5,playercard h6 {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
}
playercard h5, playercard p, .a-playercard {
  color:beige
}
.playercard p, playercard h4, playercard h5 {
  text-align: center;
  margin: 10px 0px;
}
.a-playercard {
  text-decoration: none;
  text-align: center;
  display: block;
  
} 
.a-playercard:hover {
  text-decoration: none;
  color:rgb(228, 164, 69)
}
  
