.container-ptop {
  padding-top: 100px;
  z-index: 2;
}
.players-div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
h1,h2,h3,h4 {
  text-align: center;
}
.playersBG {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.07;
    z-index: 1;
}