@font-face {
  font-family: Changa;
  src: url('./fonts/ChangaOne-Regular.ttf');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  font-family: Changa;
}
#home, #news, #matches, #players {
  height: 400px;
  width: 900px;
}
#home {
  background-color: blue;
}
#news {
  background-color: red;
}
#matches {
  background-color: yellow;
}
#players {
  background-color: green;
}
